<launch>
    <!--options: mono, rgbd or inertial  -->
    <arg name="mode" default="rgbd"/>
    <arg name="show_vis" default="true"/>

    <!-- Run camera driver -->
    <include file="$(find azure_kinect_ros_driver)/launch/driver.launch">
        <arg name="depth_mode" value="WFOV_2X2BINNED" />
        <arg name="depth_unit" value="32FC1" />
        <arg name="color_resolution" value="720P"/>
        <arg name="fps" value="30"/>
        <arg name="imu_rate_target" value="200"/>
    </include>

    <!-- Launch ORB_SLAM3 -->
    <include file="$(find orb_slam3_ros_wrapper)/launch/orb_slam3.launch">
        <arg name="mode" value="$(arg mode)"/>
        <arg name="rgb_topic" value="/rgb/image_raw" />
        <arg name="depth_topic" value="/depth_to_rgb/image_raw" />
        <arg name="imu_topic" value="/imu" />
        <arg name="config_file" value="$(find orb_slam3_ros_wrapper)/config/kinect_config.yaml" />
        <arg name="camera_base_frame" value="camera_base" />
        <arg name="show_vis" value="$(arg show_vis)"/>
    </include>

    <arg name="manager" value="test_manager"/>
    <node pkg="nodelet" type="nodelet" name="$(arg manager)" args="manager" output="screen"/>

    <node pkg="nodelet" type="nodelet" name="standalone_nodelet" args="manager"/>

    <node pkg="nodelet" type="nodelet" name="rectify_color" args="load image_proc/rectify $(arg manager) --no-bond">
        <remap from="image_mono" to="/rgb/image_raw" />
        <remap from="image_rect" to="/image_rect_color" />
    </node>

    <node pkg="nodelet" type="nodelet" name="rectify_depth" args="load image_proc/rectify $(arg manager) --no-bond">
        <remap from="image_mono" to="/depth_to_rgb/image_raw" />
        <remap from="image_rect" to="/image_rect_depth" />
    </node>
<!--
    <node pkg="web_video_server" type="web_video_server" name="web_video_server" output="screen">
        <param name="port" type="int" value="8080" />
        <param name="address" type="string" value="0.0.0.0" />
        <param name="server_threads" type="int" value="1" />
        <param name="ros_threads" type="string" value="2" />
        <param name="type" type="string" value="h264" />
        

        <param name="width" type="int" value="1280" />
        <param name="height" type="int" value="720" /> 
    </node>
-->
</launch>
