<launch>
    <!--options: mono, rgbd or inertial  -->
    <arg name="mode" default="rgbd"/>
    <arg name="show_vis" default="true"/>
    
    <!-- launch realsense base -->
    <include file="$(find orb_slam3_ros_wrapper)/launch/run_realsense_base.launch"/>

    <!-- Launch ORB_SLAM3 -->
    <include file="$(find orb_slam3_ros_wrapper)/launch/orb_slam3.launch">
        <arg name="mode" value="$(arg mode)"/>
        <arg name="rgb_topic" value="/camera/color/image_raw" />
        <arg name="depth_topic" value="/camera/aligned_depth_to_color/image_raw" />
        <arg name="imu_topic" value="/camera/imu" />
        <arg name="config_file" value="$(find orb_slam3_ros_wrapper)/config/realsense_config.yaml" />
        <arg name="camera_base_frame" value="camera_link" />
        <arg name="show_vis" value="$(arg show_vis)"/>
    </include>
</launch>
